<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tty.mapper.ServerWrapMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into ${table_prefix}warps
        (warp_id, warp_name, create_by, location, show_material, permission, cost)
        values
        (#{warp.warpId}, #{warp.warpName}, #{warp.createBy}, #{warp.location}, #{warp.showMaterial}, #{warp.permission}, #{warp.cost})
    </insert>
    <select id="getServerWarps" resultType="com.tty.entity.sql.ServerWarp">
        select * from ${table_prefix}warps
        <if test="page.limit != null">
            limit #{page.limit} offset #{page.offset}
        </if>
    </select>

    <select id="getWarpIdList" resultType="java.lang.String">
        select warp_id from ${table_prefix}warps where create_by = #{playerUUID}
    </select>

    <delete id="delete">
        delete from ${table_prefix}warps where warp_id = #{warpId} and create_by = #{playerUUID}
    </delete>

    <update id="update">
        update ${table_prefix}warps
        set warp_name = #{serverWarp.warpName}, location = #{serverWarp.location},
        show_material = #{serverWarp.showMaterial}, permission = #{serverWarp.permission},
        cost = #{serverWarp.cost}
        where warp_id = #{serverWarp.warpId} and create_by = #{serverWarp.createBy}
    </update>

    <select id="getWarp" resultType="com.tty.entity.sql.ServerWarp">
        select id, warp_id, warp_name, create_by, location, show_material, permission, cost from ${table_prefix}warps where warp_id = #{warpId} and create_by = #{playerUUID}
    </select>
</mapper>