<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ari.superarilo.mapper.PlayerHomeMapper">
    <resultMap id="playerHome" type="ari.superarilo.entity.sql.PlayerHome">
        <result property="homeId" column="home_id" />
        <result property="homeName" column="home_name" />
        <result property="playerUUID" column="player_uuid" />
        <result property="x" column="x" />
        <result property="y" column="y" />
        <result property="z" column="z" />
        <result property="world" column="world" />
        <result property="showMaterial" column="show_material" />
    </resultMap>
    <select id="getHomeList" resultMap="playerHome">
        select
          ph.home_id, ph.home_name, ph.player_uuid, ph.x, ph.y, ph.z, ph.world, ph.show_material
        from ari_player_home as ph
        where ph.player_uuid = #{playerUUID}
        <if test="page.limit != null">
            limit #{page.limit} offset #{page.offset}
        </if>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into ari_player_home
        (home_id, home_name, player_uuid, x, y, z, world, show_material)
        values
        (#{playerhome.homeId}, #{playerhome.homeName},#{playerhome.playerUUID}, #{playerhome.x}, #{playerhome.y}, #{playerhome.z}, #{playerhome.world}, #{playerhome.showMaterial})
    </insert>

    <select id="exist" resultType="boolean">
        select count(*) from ari_player_home as ph where ph.home_id = #{home_id} and player_uuid = #{playerUUID}
    </select>

    <select id="getHome" resultMap="playerHome">
        select ph.home_id, ph.home_name, ph.player_uuid, ph.x, ph.y, ph.z, ph.world, ph.show_material
        from ari_player_home as ph
        where ph.home_id = #{home_id} and player_uuid = #{playerUUID}
    </select>

    <delete id="delete">
        delete from ari_player_home where home_id = #{home_id} and player_uuid = #{playerUUID}
    </delete>
    <update id="update">
        update ari_player_home
        set home_name = #{playerhome.homeName}, x = #{playerhome.x}, y = #{playerhome.y}, z = #{playerhome.z}, world = #{playerhome.world}, show_material = #{playerhome.showMaterial}
        where home_id = #{playerhome.homeId} and player_uuid = #{playerhome.playerUUID}
    </update>

    <select id="getHomeIdList" resultType="java.lang.String">
        select home_id from ari_player_home where player_uuid = #{playerUUID}
    </select>
</mapper>