<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ari.superarilo.mapper.PlayerHomeMapper">
    <select id="getHomeList" resultType="ari.superarilo.entity.sql.ServerHome">
        select
          ph.home_id, ph.home_name, ph.player_uuid, ph.location, ph.show_material
        from ${table_prefix}player_home as ph
        where ph.player_uuid = #{playerUUID}
        <if test="page.limit != null">
            limit #{page.limit} offset #{page.offset}
        </if>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into ${table_prefix}player_home
        (home_id, home_name, player_uuid, location, show_material)
        values
        (#{serverHome.homeId}, #{serverHome.homeName},#{serverHome.playerUUID}, #{serverHome.location},
        #{serverHome.showMaterial})
    </insert>

    <select id="exist" resultType="boolean">
        select count(*) from ari_player_home as ph where ph.home_id = #{home_id} and player_uuid = #{playerUUID}
    </select>

    <select id="getHome" resultType="ari.superarilo.entity.sql.ServerHome">
        select ph.home_id, ph.home_name, ph.player_uuid, ph.location, ph.show_material
        from ${table_prefix}player_home as ph
        where ph.home_id = #{home_id} and player_uuid = #{playerUUID}
    </select>

    <delete id="delete">
        delete from ${table_prefix}player_home where home_id = #{home_id} and player_uuid = #{playerUUID}
    </delete>
    <update id="update">
        update ${table_prefix}player_home
        set home_name = #{serverHome.homeName}, location = #{serverHome.location}, show_material =
        #{serverHome.showMaterial}
        where home_id = #{serverHome.homeId} and player_uuid = #{serverHome.playerUUID}
    </update>

    <select id="getHomeIdList" resultType="java.lang.String">
        select home_id from ${table_prefix}player_home where player_uuid = #{playerUUID}
    </select>
</mapper>