<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ari.superarilo.mapper.PlayerMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into ${table_prefix}players
        (player_name, player_uuid, first_login_time, last_login_off_time, total_online_time, name_prefix, name_suffix)
        values
        (#{serverPlayer.playerName}, #{serverPlayer.playerUUID}, #{serverPlayer.firstLoginTime}, #{serverPlayer.lastLoginOffTime}, #{serverPlayer.totalOnlineTime}, #{serverPlayer.namePrefix}, #{serverPlayer.nameSuffix})
    </insert>
    <update id="update">
        update ${table_prefix}players
        set
        firstLoginTime = #{serverPlayer.firstLoginTime},
        lastLoginTime = #{serverPlayer.lastLoginOffTime},
        totalOnlineTime = #{serverPlayer.totalOnlineTime},
        namePrefix = #{serverPlayer.namePrefix},
        nameSuffix = #{serverPlayer.nameSuffix}
        where playerUUID = #{serverPlayer.playerUUID}
    </update>
    <select id="selectOne" resultType="ari.superarilo.entity.sql.ServerPlayer">
        select id, player_name, player_uuid, first_login_time, last_login_off_time, total_online_time, name_prefix, name_suffix from ari_players
        where player_uuid = #{playerUUID}
    </select>
</mapper>